@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.cards>h2 {
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 64px;
}

p:nth-child(even) {
  color: red;
  font-size: 32px;
}

img:hover {
  border-radius: 32px;
}

.blue,
#blue,
h6 {
  color: blue;
}


.exemple.red {
  color: blue;
}

h1 {
  color: rgba(0, 0, 256, 50%);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 120, 121, 1) 48%, rgba(6, 68, 160, 1) 54%, rgba(0, 212, 255, 1) 100%);
}

* {
  font-family: "Ubuntu", sans-serif;
}

p {}

#paragraph {
  color: green;
  line-height: 1.5;
  text-align: center;
}

/* (* permet de tout séléctionner) */

/* * {
  color: white;
  background-color: black;
} */
