/* img {
  max-width: 100px;
  max-height: 200px;
} */

/* img {
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* .container {
  width: 100px;
  height: 200px;
  overflow: hidden;
} */


.card {
  width: 700px;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.card>img {
  width: 100%;
  border-radius: 16px;
}

.card>h2 {
  color: purple;
}

.card>.description {
  color: gray;
}
